@import url(fonts/titlefont/josefin-sans.css);
@import url(fonts/opensans/opensans.css);

/* Space out content a bit */
body, html {
  padding-top: 0;
  padding-bottom: 0;
  font-family: 'Open Sans';
  color: #F3F3F3;
  min-height: 100%;
}

.pointer {
  cursor: pointer;
}

a {
  color: #529bda;
}

.jumbotron {
  color: #000000;
}

.logo {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.logo > img {
  width: 32px;
  height: 32px;
}

.grass {
  background-image: url(../img/grass.jpg);
  background-repeat: repeat;
  background-size: 300px;
}

.runway {
  background-image: url(../img/runway_seamless.png);
  background-repeat: repeat-y;
  background-size: cover;
}

.content {
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-top: 10px;
  border-bottom: 1px solid #000;
  background: rgba(0, 0, 0, 0.6);
}

/* Make the masthead heading the same height as the navigation */
.header h2 {
  font-family: 'Josefin Sans';
  font-weight: bold;
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  color: #333
}

/* Custom page footer */
.footer {
  margin-top: 40px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
} 

/* Customize container */
/* stop background colour infecting container */
.container {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 750px) {
  .container {
    max-width: 500px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 700px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 900px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin-top: 20px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header, .marketing, .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  /*
  .header {
    margin-bottom: 30px;
  }
  */
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
