<!-- based on the Jumbotron Narrow example from http://getbootstrap.com :) -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    
    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}dist/css/bootstrap.css" rel="stylesheet">
    
    <!-- Custom styles for this template --> 
    <link href="{{ site.baseurl }}css/jumbotron-narrow.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="{{ site.baseurl }}index.html">Home</a></li>
					<li><a href="{{ site.baseurl }}about.html">About</a></li>
          <li><a href="{{ site.baseurl }}portfolio.html">Portfolio</a></li>
          
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Careers Info <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ site.baseurl }}careersinfo/achievements.html">Achievements</a></li>
              <li><a href="{{ site.baseurl }}careersinfo/selfevaluation.html">Self Evaluation</a></li>
              <li><a href="{{ site.baseurl }}careersinfo/careertalks.html">Career Talks</a></li>
              <li><a href="{{ site.baseurl }}careersinfo/tertiary.html">Tertiary Options</a></li>
            </ul>
          </li>
          
          <!--<li><a href="#contact">Contact</a></li>-->
        </ul>
        
        <h3 class="text-muted">Karl's e-Portfolio</h3>
      </div>
      
      <div class="content">
