---
# based on the Jumbotron Narrow example from http://getbootstrap.com :)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    
    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}/dist/css/bootstrap.css" rel="stylesheet">
    
    <!-- Custom styles for this template --> 
    <link href="{{ site.baseurl }}/css/default.css" rel="stylesheet">
  </head>
  <body>
    <div class="header">
			<div class="container">
        <ul class="nav nav-pills pull-right">
					{% for link in site.navigation %}
						{% if link.children %}
              {% assign isActive = "" %}
              {% for child in link.children %}
                {% if page.url == child.url %}
                  {% assign isActive = "active" %}
                {% endif %}
              {% endfor %}
							<li class="dropdown {{ isActive }}">
								<a class="dropdown-toggle" data-toggle="dropdown">{{ link.text }} <span class="caret"></span></a>
								<ul class="dropdown-menu">
								{% for child in link.children %}
									<li><a href="{{ site.baseurl }}{{ child.url }}">{{ child.text }}</a></li>
								{% endfor %}
								</ul>
							</li> 
						{% elsif page.url == link.url %}
							<li class="active"><a href="{{ site.baseurl }}{{ link.url }}">{{ link.text }}</a></li>
						{% else %}
							<li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.text }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
        
        <h3><a href="{{ site.baseurl }}">Karl Cheng &ndash; ePortfolio</a></h3>
			</div>
    </div>
    
    
    <div class="container white">
      <div class="content">{{ content }}</div>

      <div class="footer">
        <p>Copyright &copy; Karl Cheng, 2014</p>
      </div>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
		<script src="{{ site.baseurl }}/dist/js/jquery-1.11.1.js"></script>
    <script src="{{ site.baseurl }}/dist/js/bootstrap.js"></script>
		<script src="{{ site.baseurl }}/js/code.js"></script>
  </body>
</html>
