---
# based on the Jumbotron Narrow example from http://getbootstrap.com :)
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ site.baseurl }}/dist/css/bootstrap.css" rel="stylesheet">

  <!-- one page scroll CSS -->
  <link href="{{ site.baseurl }}/dist/css/onepage-scroll.css" rel="stylesheet">

  <!-- Custom styles for this template --> 
  <link href="{{ site.baseurl }}/css/default.css" rel="stylesheet">
</head>
<body class="grass">
  <div class="header">
    <div class="container">
      <h2 class="pull-left"><a href="{{ site.baseurl }}">Karl Cheng</a></h2>

      <ul class="nav nav-pills pull-right">
        {% for link in site.navigation %}
          {% if link.children %}
            {% assign isActive = "" %}
            {% for child in link.children %}
              {% if page.url == child.url %}
                {% assign isActive = "active" %}
              {% endif %}
            {% endfor %}
            <li class="dropdown pointer {{ isActive }}">
              <a class="dropdown-toggle" data-toggle="dropdown">{{ link.text }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
              {% for child in link.children %}
                <li><a href="{{ site.baseurl }}{{ child.url }}">{{ child.text }}</a></li>
              {% endfor %}
              </ul>
            </li> 
          {% elsif page.url == link.url %}
            <li class="active"><a href="{{ site.baseurl }}{{ link.url }}">{{ link.text }}</a></li>
          {% else %}
            <li><a href="{{ site.baseurl }}{{ link.url }}">{{ link.text }}</a></li>
          {% endif %}
        {% endfor %}

        <li id="github"><a href="https://github.com/Qantas94Heavy" class="logo">
          <img src="{{ site.baseurl }}/img/github/PNG/GitHub-Mark-Light-32px.png">
        </a></li>

        <li><a href="http://stackoverflow.com/users/2074608/qantas-94-heavy" class="logo">
          <img src="{{ site.baseurl }}/img/so-icon.png">
        </a></li>

        <li><a href="mailto:qantas94heavy+site@gmail.com" class="logo">
          <img src="{{ site.baseurl }}/img/email.png">
        </a></li>
      </ul>
    </div>
  </div>

  {% assign runway = "" %}
  {% if page.url != "/index.html" and page.url != "" %}
    {% assign runway = "runway" %}
  {% endif %}

  <div class="main">
    <div class="container {{ runway }}">
      <div class="content">{{ content }}</div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{{ site.baseurl }}/dist/js/jquery-1.11.1.js"></script>
  <script src="{{ site.baseurl }}/dist/js/bootstrap.js"></script>
  <script src="{{ site.baseurl }}/dist/js/jquery.onepage-scroll.js"></script>
  <script src="{{ site.baseurl }}/js/code.js"></script>
</body>
</html>
